services:
  api-study-prod:
    # 1. Configuração do Build
    build:
      # Ponto de partida para o Dockerfile (o diretório atual)
      context: .
      # Especifica o nome do arquivo Dockerfile (se for diferente de 'Dockerfile')
      dockerfile: Dockerfile
      # Argumentos passados para o Dockerfile durante o build
      args:
        PROJECT_NAME: ApiStudy

    # 2. Configuração do Contêiner
    container_name: api-study-prod-container
    
    # 3. Mapeamento de Portas
    # Formato: "Porta_Host:Porta_Contêiner"
    ports:
      - "5000:8080"
      
    # 4. Configuração de Restart (Opcional, mas recomendado)
    # Define o que o Docker deve fazer se o contêiner parar (a menos que seja explicitamente parado)
    restart: always

# Opcional: Redes personalizadas se você tiver outros serviços (ex: Banco de Dados)
# networks:
#   default:
#     driver: bridge

  postgres-db:
    image: pgvector/pgvector:pg17
    container_name: mtg-postgres-scanner
    shm_size: '512mb'
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '#mtg-pg-2026#'
      POSTGRES_DB: mtg_scanner
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres 
      -c max_connections=200
      -c shared_buffers=512MB
      -c effective_cache_size=1536MB
      -c maintenance_work_mem=256MB
      -c maintenance_work_mem=256MB
      -c checkpoint_completion_target=0.9
      -c wal_buffers=16MB
      -c default_statistics_target=100
      -c random_page_cost=1.1
      -c effective_io_concurrency=200
      -c work_mem=64MB
      -c min_wal_size=1GB
      -c max_wal_size=4GB

volumes:
  postgres_data: